body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    border: none;
    background: #ee2b7a;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    border: 2px solid #ee2b7a;
    color: #ee2b7a;
    background: transparent;
}

header {
    position: fixed;
    width: 100%;
    height: 46px;
    background-color: #772d8b;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}

.header-left {
    display: flex;
}

.header-left-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.header-left-icon img {
    width: 100%;
    height: 100%;
}

.header-right {
    display: flex;
}

.header-right span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.header-right-left {
    color: #ffc42d;
    margin-right: 20px;
}

.header-right-farright {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.header-right-farright span {
    color: #fff;
}

.header-right-farright-icon {
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.header-right-farright-icon img {
    width: 100%;
    height: 100%;
}

.main-background {
    top: 46px;
    position: relative;
    width: 100%;
    height: 666px;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav {
    height: 79px;
    width: 100%;
    background: rgba(0, 0, 0, 0.26);
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.nav-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-left-logo {
    height: 100%;
    width: 110px;
}

.nav-left-logo img {
    height: 100%;
    width: 100%;
}

.nav-left-text {
    margin-left: 25px;
    text-align: center;
}

.nav-left-text h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.nav-left-text a {
    margin-top: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #ffc42d;
}

.nav-left-text a:hover {
    color: #ee2b7a;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right-link {
    margin-right: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
}

.nav-right-link:hover {
    color: #ee2b7a;
}

.nav-right-button button {
    width: 137px;
    height: 34px;
    padding: 20px;
    font-size: 14px;
    line-height: 19px;
}


/* ASSIGNMENT */

.below-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    padding: 0 68px;
    position: relative;
    top: 125px;
}

.we-provide {
    display: flex;
    align-items: center;
}

.we-provide h4 {
    font-family: Open Sans;
    font-size: 66px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
}

.industry span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
}

.form-div {
    display: flex;
    background-color: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
    padding: 20px 35px;
    width: 340px;
    height: 365px;
    box-sizing: border-box;
}

.form-login-text {
    color: #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
}

form {
    width: 100%;
    height: 100%;
}

input {
    background-color: #fff;
    border-radius: 4px;
    margin: 10px 0;
    padding: 15px 20px;
    width: 100%;
}

.forgot-password {
    color: #b6c4da;
    float: right;
    clear: both;
}

.form-login-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 80px 0 20px;
    align-items: center;
}

.dont-have-acct {
    color: #fff;
    text-align: center;
    margin: 0 0 45px;
}

.signup {
    color: #ee2b7a;
}

.about-axet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 68px;
}

.about-axet-text {
    width: 400px;
}

.about-axet-text h4, .services-we-provide {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    text-transform: uppercase;
    color: #995AAA;
}

.who-we-are {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 20px;
    color: #474747;
    margin: 30px 0px;
}

.who-we-are-textcontent {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
    width: 100%;
}

.about-axet-image {
    display: flex;
    align-items: center;
}

.about-axet-image img {
    display: flex;
    width: 100%;
}

.services-we-provide,
.our-services {
    width: 100%;
    text-align: center;
}

.our-services {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;  
}

.services-contents-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 70px;
}

.services-contents {
    background: #ffffff;
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
    width: 270px;
    height: 300px;
    margin: 100px 50px;
}

.services-button {
    background-color: #772D8B;
}

.services-button a {}


/* ASSIGNMENT 12/01/2021 */

.news {
    margin: 100px 100px 55px 100px;
}

.from-the-news {
    align-content: center;
    color: #474747;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}

.from-the-news-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
    align-content: center;
    text-align: center;
    width: 100%;
}

.news-comps-and-button {
    display: grid;
    grid-template-columns: 0.5fr 23px 0.5fr 23px 0.5fr;
    grid-template-rows: auto 20px auto;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
}

.news-images-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.news-images-two {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.news-images-three {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.news-images-one img {
    width: 100%;
    height: 250px;
}

.news-images-two img {
    width: 100%;
    height: 250px;
}

.news-images-three img {
    width: 100%;
    height: 250px;
}

.image-one-components {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image-two-components {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image-three-components {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image-one-components h4,
.image-two-components h4,
.image-three-components h4,
.image-one-components p,
.image-two-components p,
.image-three-components p {
    text-align: center;
}

.image-one-components button,
.image-two-components button,
.image-three-components button {
    margin-top: 20px;
    justify-content: center;
}

.video {
    margin-top: 100px;
    background-image: url(assets/truck.png);
    background-color: rgba(119, 45, 139, 0.2);
    height: 430px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.vid-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 154.7%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 85px;
}

.clients {
    background-color: #FAFAFA;
}

.our-clients-text {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    position: relative;
    top: 100px;
    color: #474747;
}

.clients-list {
    /* display: flex; */
    width: 100%;
    height: 100%;
    padding: 150px 5% 0;
}

.clients-list {
    width: 100%;
    height: 106px;
}

footer {
    display: grid;
    grid-template-columns: 0.4fr 100px 0.3fr 10px 0.4fr 30px 0.4fr;
    grid-template-rows: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #333333;
    height: auto;
    position: relative;
    top: 170px;
    color: #fff;
    padding: 100px;
    box-sizing: border-box;
}

footer h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
}

footer p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 154.7%;
}

.about {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.information {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.contact {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.recent-news {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}


.location-icon {
    width: 24px;
    height: 24px;
}

.location-icon img {
    width: 100%;
    height: 100%;
}
.location {
    display: flex;
    justify-content: space-between;
}

.location-icon, .location-address {
    display: flex;
}


/* RESPONSIVENESS 14/01/2021 */

@media screen and (max-width: 768px) {
   
    .nav-right {
        display: none;
    }

    .form-div {
        display: none;
    }

    .about-axet {
        flex-wrap: wrap;
    }
}